---
name: CI
on: [push, pull_request]
env:
  RAILS_ENV: test
  CI: true
  # POSTGRES_USER: postgres
  # POSTGRES_PASSWORD: postgres
  # POSTGRES_DB: expanse_control_db_test
  # POSTGRES_HOST: postgres://postgres:postgres@localhost:5432

jobs:
  lint:
    name: Rubocop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
      - name: Install Rubocop
        run: |
          gem install bundler --no-document
          bundle install
      - name: Check code
        run: bundle exec rubocop